/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #fff;
  color: #111;
}

button {
  background: none;
  border: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}